body {
    
   font-family: 'Cairo';
    font-style: normal;
    margin: 0;
    clear: both;
    
}
.logo img {
    width: 30%;
    margin: 30px 0px 0px 300px;
}
nav {
    margin: 0px 0px 50px 250px;
    background-color: #4d7fc7;
    
    width: 1200px;
    border-radius: 15px;
    --webkit--border-radius: 15px;
	--moz--border-radius: 15px;
    
    
    
    
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
    
    
    
}
ul li {
    
    float: left;
    width: 200px;
    height: 40px;
    background-color: #3970bf;
    opacity: .90;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
   

}
ul li a{
    
    text-decoration: none;
    color: white;
    display: block;
    
}
ul li a:hover{
    background-color: #1a1717;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}

.picmoto img {
    background-size: cover;
    width: 1800px;
    
    }
h1{
    font-family: Brush Script MT, Brush Script;
    font-size: 50px;
    letter-spacing:1px;
    position: absolute;
    font-weight: 300;
    top: 40%;
    font-style: normal;
    left: 15%;
    color: white;
}



h2{
    font-family: 'Cairo';font-size: 22px;
    font-size: 25px;
    letter-spacing:1px;
    position: absolute;
    font-weight: 300;
    top: 90%;
    
    left: 15%;
    right: 15%;
    color: white;
}
.box{
    text-align: center;
    position: absolute;
    top: 50%;
    
    font-size: 6em;
    font-family: 'Cairo';
    color: #fff;
    
    
    text-shadow: 0 2px 2px rgba(0,0,0,.5)
    
}
.word{
    display: inline-block;
    
}
.s1 { margin: 00px 00px 00px 390px}
.s2 { margin: 00px 00px 00px 590px}
.s3 { margin: 00px 00px 00px 250px}
.s4 { margin: 00px 00px 00px 690px}


.word strong 
{
    position: absolute;
    animation: animate 10s linear infinite;
    opacity: 0;
    white-space: nowrap;
    text-align: center;

}


@keyframes animate
{
    0%{opacity: 0;transform: translateY(-80px)}
    2%{opacity: 1;transform: translateY(0px)}
    18%{opacity: 1;transform: translateY(0px)}
    20%{opacity: 0;transform: translateY(50px)}
    20%{opacity: 0;transform: translateY(50px)}
   
}
.word strong:nth-child(1){animation-delay: 0s}
.word strong:nth-child(2){animation-delay: 2s}
.word strong:nth-child(3){animation-delay: 4s}
.word strong:nth-child(4){animation-delay: 6s}

.btn {
    position: absolute;
    top: 120%;
    left: 50%;
    background-color: transparent;
    font-family: 'Cairo';font-size: 22px;
    font-style: normal;
    border: 2px solid white;
    color: white;
    padding: 8px 70px;
    text-align: center;
    font-size: 25px;
    margin: 0px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.container .btn:hover {
    background-color: white;
    color: black;
    transition: 0.1s background-color linear, 0.1s color linear;
}
.btn2 {
    position: absolute;
    top: 120%;
    left: 30%;
    background-color: transparent;
    font-family: 'Cairo';font-size: 22px;
    font-style: normal;
    border: 2px solid white;
    color: white;
    padding: 8px 82px;
    text-align: center;
    font-size: 25px;
    margin: 0px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.container .btn2:hover {
    background-color: white;
    color: black;
    transition: 0.1s background-color linear, 0.1s color linear;
}


h3{
    font-family: 'Cairo';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    text-align: center
    
}
.p1{
    
    font-family: 'Cairo';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
   margin: 0px 50px 00px 50px
    
}


* {
    box-sizing: border-box;
}

.img-container {
    float: left;
    width: 30%;
    padding: 5px;
    margin: 50px 0px 0px 220px
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.coash{
    font-size: 25px; 
    font-style: normal;
    text-align: justify;
   
}
.fix{
    font-size: 25px; 
    font-style: normal;
    text-align: justify;
}

.all{background-color: #ebebeb;margin: 0px 0px 00px 0px;}
.can{font-size: 60px;text-align: center;margin: 30px;}

.box1{background-color: white;margin: 0px 0px 0px 200px;width: 700px;display:inline-block;}
.hard{padding: 50px 50px;}
.hard img {width: 100px;margin: -35px 20px -32px 90px;  }
.box1 h5 {font-size: 30px;margin: 0px 0px -35px -96px}
.box1 p{margin: 0px 30px 20px 160px;font-size: 22px;text-align: justify;}

.box2{background-color: white;margin: 0px 10px 1px 10px;width: 700px;display:inline-block;}
.hard2{padding: 50px 50px;}
.hard2 img {width: 90px;margin: -35px 20px -32px 90px;  }
.box2 h5 {font-size: 30px;margin: 0px 0px -35px -96px}
.box2 p{margin: 0px 30px 20px 160px;font-size: 22px;text-align: justify;}

.box3{background-color: white;margin: 10px -100px 10px 200px;width: 700px;display:inline-block;}
.hard3{padding: 50px 50px;}
.hard3 img {width: 80px;margin: -35px 20px -32px 90px;  }
.box3 h5 {font-size: 30px;margin: 0px 0px -35px -96px}
.box3 p{margin: 0px 30px 20px 160px;font-size: 22px;text-align: justify;}

.box4{background-color: white;margin: 10px 10px 10px 110px;width: 700px;display:inline-block;}
.hard4{padding: 50px 50px;}
.hard4 img {width: 80px;margin: -35px 20px -32px 90px;  }
.box4 h5 {font-size: 30px;margin: 0px 0px -35px -96px}
.box4 p{margin: 0px 30px 20px 160px;font-size: 22px;text-align: justify;}





