@font-face {
    font-family: 'cookieregular';
    src: url('cookie-regular-webfont.woff2') format('woff2'),
         url('cookie-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}